<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282099791973-qvd545nfs6mv113run6m8g05gncs2ai3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282099791973-qvd545nfs6mv113run6m8g05gncs2ai3</string>
	<key>API_KEY</key>
	<string>AIzaSyCtsS_GHLfBoHLy15QDeW3Ic1eXtj87Odk</string>
	<key>GCM_SENDER_ID</key>
	<string>282099791973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jeongmin.zzallang</string>
	<key>PROJECT_ID</key>
	<string>zzallang-4cdb2</string>
	<key>STORAGE_BUCKET</key>
	<string>zzallang-4cdb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282099791973:ios:c216c4b7e4628072162e8c</string>
	<key>DATABASE_URL</key>
	<string>https://zzallang-4cdb2.firebaseio.com</string>
</dict>
</plist>